
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
.conteiner-1{
display:flex;
flex-basis: 100%;
margin: 0;
padding: 0;
flex-direction:column;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
header {
width:100%; 
background-color:#86cfda;
padding: 10px;
height:150px;
text-align: center;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;

margin-top: 0;
}

.h{display: block;
width:960px; 
margin-left: auto;
margin-right: auto;
}

footer{
width:100%; 
background-color:#86cfda;
padding: 10px;
height:55px;
text-align: center;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
margin-top: 0;

}
#logo{
max-width:960px;
margin: 0 auto;
padding:10px;
float:left;
width:100px;
height:100px;
}
.nav{
color:#007bff;
}
.naveg-1{
align-items:flex-start;
}
.naveg-2{
align-items:flex-start;
}
.naveg-3{
align-items:flex-start;
}

.main{
padding: 0 0 10px 0;
display:flex;
flex-direction:column;
}
.links{ 
order:1;
}
.mesa{ 
order:3;
}
.fom{ 
order:2;
}

.mesa{ 
order:3;
}
.fom{ 
order:2;
}

@media screen and (min-device-width: 500px) {
.nav{
display: -webkit-flex; 
display: flex; 
justify-content:space-around;
}
.naveg-1{
flex-basis:content;
flex-direction:row;
align-items:center;
}
.naveg-2{
flex-basis:content;
flex-direction:row;
align-items:center;
}
.naveg-3{
flex-basis:content;
flex-direction:row;
align-items:center;
}
.main{
display:flex;
flex-direction:column;
width:960px;
margin-left:auto;
margin-right:auto;
margin-bottom:10px;

}
.mesa{ 
order:2;
}
.fom{ 
order:3;
}
}
table{
border-collapse: collapse;
border:0;
}
.cent{
text-align:center;
}
.pur{
background:#86cfda;
}

